<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=devide-width, initial-scale=1.0">  <!-- para dispositivos móviles !-->
    <title>Valkyr-IE</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
     
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='reset.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontello.css') }}">

</head>
<body>
<header class="page-header">
    <div class="header__wrapper clearfix">
        <h1 class="logo" >Valkyr-IE <a href="index.html"></a> <img src="../static/images/Valkyr_ie_logo.svg" class="logo"></h1>
                         <!--<h2 class="menu__title"><a href="javascript:void(0);" onclick="myFunction()">☰</a></h2>!-->
            <h2 class="subtitle">A Information Extraction tool for Named Entity Recognition in different scenarios</h2>

            <ul id="navbar" class="menu__list">
                <li><a href="#about" class="header-menu__item">About</a></li>
                <li><a href="#api" class="header-menu__item">API</a></li>
                <li><a href="#use_cases" class="header-menu__item">Use Cases</a></li>
                <li><a href="#thanks" class="header-menu__item">Contact</a></li>
                
                
                <!--<li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>!-->
                <!--<li><a href="#blog-section" class="nav-link">Blog</a></li>!-->
                <!--<li><a href="javascript:void(0)" class="header-menu__item">Contact</a></li>!-->
            </ul>
    </div>
</header>

<main class="intro">

    <!-- INTRO !-->
    

    
    <!--DEMO!-->
    <section id="about" class="intro-services clearfix">
        <div class="intro-services__wrapper ">

        <h3 class="intro__title">About Valkyr-IE</h3>
        <div class="intro__text">


                <p>Valkyr-Information Extraction (Valkyr-IE) is a tool for Named Entity Recognition tasks. The tool uses:  </p>


  <p> &#8226 Language models trained with SoA datasets</p>
  <p> &#8226 Language models trained with use-case datasets</p>
  <p> &#8226 A wrapper for the General Architecture for Text Engineering (GATE) tool</p>
  
             
                <p class="arch"><!--img src="../static/images/termitup_arch.png" class="arch_pic"--></p>
        </div>
        </div> 
    
    </section>
    <section id="api" class="api">
        <div class="intro-services__wrapper ">
        <h3 class="about__title">API</h3>
        <div class="about__text">
        <p>Test our standard models through <a href="https://valkyr-ie.oeg.fi.upm.es/swagger" class="apilink" target="_blank">Valkyr-ie Swagger API </a>.</p>
        <p>Test our bio models through <a href="https://valkyr-ie-bio.linkeddata.es/swagger/" class="apilink" target="_blank">Valkyr-ie BIO Swagger API </a>.</p>
        <p>Test our GATE wrapper through <a href="https://valkyr-ie-tools.linkeddata.es//swagger-ui.html#/" class="apilink" target="_blank">Valkyr-ie GATE API </a>.</p>
        
        
        
        
        
        
        
        </div>
        </div>
    </section>
    <section id="use_cases" class="use_cases">
        <div class="intro-services__wrapper ">
        <h3 class="about__title">Uses cases</h3>
        <div class="about__text">
        <p> TBD </p>
        </div>
        </div>
    </section>
    <section id="thanks" class="thanks">
        <div class="intro-services__wrapper ">
        <h3 class="contact__title">Contact</h3>
        <div class="contact__text">
        <p>This work has been developed by <a href="https://oeg.fi.upm.es/" class="oegweb" target="_blank">Ontology Engineering Group</a> (Universidad Politécnica de Madrid). Contacto to pcalleja@fi.upm.es</p>
        <p>Code is availabe at <a href="https://github.com/oeg-upm/valkyr-ie-py" class="oegweb" target="_blank">Github repository</a>.</p>
        </div>
        </div>
    </section>


<!--CONTACTO!

    <section class="intro-contact">
        <h3 class="intro-contact__title"><a href="" target="_blank">Acknowledgements</a></h3>


    </section>-->

</main>
<!-- Menú footer!-->
<footer class="page-footer clearfix">
        
        <div class="footer-wrapper"> <!-- este div yo creo que no lo necesito !-->
            <nav class="footer-menu clearfix">
            <img src="../static/images/Logo_OEG.gif" class="logo3">
            <img src="../static/images/fi.jpg" class="logo4">
            <img src="../static/images/upm.jpg" class="logo5">
            </nav>
            <!--<a href="#" class="icon-search">Buscador</a> !-->
        </div>
        
</footer>
<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
</body>
</html>